{% extends 'base.html' %}
{% from 'pagination.html' import render_pagination %}

{% block content %}
<div class="container">
    <div class="my-5">

        <h2 class="mb-3 text-center text-uppercase font-weight-bold">Каталог книг</h2>

        <form class="mb-5 mt-3 row align-items-center">
            <div class="col-md-12 my-3">
                <input autocomplete="off" type="text" class="form-control" id="genre-name" name="name" value="{{ request.args.get('name') or '' }}" placeholder="Название книги">
            </div>
            
            <div class="col-md-6 my-3">
                <select class="form-select" id="book-genre" name="genre_ids" title="Жанр книги" multiple>
                    <option value="">Выберите жанр</option>
                    {% for genre in genres %}
                        <option value="{{ genre.id }}" {% if genre.id | string in request.args.getlist('genre_ids') %}selected{% endif %}>{{ genre.name }}</option>
                    {% endfor %}
                </select>
            </div>

            <div class="col-md-6 my-3">
                <select class="form-select" id="years" name="years" title="Год книги" multiple>
                    <option value="">Выберите год</option>
                    {% for year in years %}
                        <option value="{{ year }}" {% if year | string in request.args.getlist('years') %}selected{% endif %}>{{ year}}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="col-md-12 my-3">
                <input autocomplete="off" type="text" class="form-control" id="author" name="author" value="{{ request.args.get('author') or '' }}" placeholder="Имя автора">
            </div>
            <div class="col-md-6 my-3">
                <input autocomplete="off" type="text" class="form-control" id="volume_start" name="volume_start" value="{{ request.args.get('volume_start') or '' }}" placeholder="Минимальное количество страниц">
            </div>
            <div class="col-md-6 my-3">
                <input autocomplete="off" type="text" class="form-control" id="volume_finish" name="volume_finish" value="{{ request.args.get('volume_finish') or '' }}" placeholder="Максимальное количество страниц">
            </div>
            <div class="col-md-5 my-3">
            </div>
            <div class="col-md-2 my-3 align-self-end text-center">
                <button type="submit" class="btn btn-dark w-100 mt-auto">Найти</button>
            </div>
            <div class="col-md-5 my-3">
            </div>
        </form>
    </div>

    <div class="books-list container-fluid mt-3 mb-3">
        {% for book in books %}
            <div class="row p-3 border rounded mb-3" data-url="{{ url_for('books.show', book_id=book.id) }}">
                <div class="col-md-3 mb-3 mb-md-0 d-flex align-items-center justify-content-center">
                    <div class="book-logo" style="background-image: url({{ url_for('image', image_id=book.image_id) }});">
                    </div>
                </div>
                <div class="col-md-9 align-items-center">
                    <div class="d-flex">
                        <h4 class="text-uppercase">{{ book.name }}</h4>
                        <p class="ms-auto rating">
                            <span>★</span> <span>{{ "%.2f" | format(book.rating) }}</span>
                        </p> 
                    </div>
                    <div class="d-flex">
                    <p class="text-muted my-3">{{ book.author }}</p>
                    <a class="ms-auto btn btn-primary" href="{{ url_for('books.show', book_id=book.id) }}">Посмотреть</a> {% if current_user.is_authenticated and (current_user.is_admin() or current_user.is_moderator()) %}
                    <a class="ms-auto btn btn-info" href="{{ url_for('books.form_of_edit', book_id=book.id) }}">Редактировать</a> {% endif %}
                {% if current_user.is_authenticated and current_user.is_admin() %}
                    <!-- Button trigger modal -->
        <a
          type="button"
          class="btn btn-danger ms-auto"
          data-bs-toggle="modal"
          data-bs-target="#staticBackdrop{{book.id}}"
        >
          Удалить
        </a>
        <!-- Modal -->
      <div
        class="modal fade"
        id="staticBackdrop{{book.id}}"
        data-bs-backdrop="static"
        data-bs-keyboard="false"
        tabindex="-1"
        aria-labelledby="staticBackdropLabel"
        aria-hidden="true"
      >
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="staticBackdropLabel{{book.id}}">
                Удаление книги
              </h5>
              <button
                type="button"
                class="btn-close"
                data-bs-dismiss="modal"
                aria-label="Close"
              ></button>
            </div>
            <div class="modal-body">
              Вы уверены, что хотите удалить книгу {{ book.name }} автора
              {{ book.author }}?
            </div>
            <div class="modal-footer">
              <button
                type="button"
                class="btn btn-secondary"
                data-bs-dismiss="modal"
              >
                Нет
              </button>
              <form method="POST" action="{{ url_for('books.delete', book_id=book.id) }}">
                <input
                  type="text"
                  id="book_id"
                  name="book_id"
                  hidden
                  value="{{book.id}}"
                  class="form-control"
                />
                <button type="submit" class="btn btn-danger">Да</button>
              </form>
            </div>
          </div>
        </div>
      </div>    
      {% endif %}
                </div>
                    <div class="d-flex">
                    <p>Год написания: {{ book.year }}</p>
                     <p class="ms-auto"> Количество отзывов: {{ book.rating_num }}</p>
                    </div>
                    <div class="d-flex">
                      <p>Жанры: {% for genre_of_book in book.genre_of_book() %} {{ genre_of_book }} {% endfor %}</p>
                      <p class="ms-auto"> Количество страниц: {{ book.volume }}</p>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>

    <div class="mb-5">
        {{ render_pagination(pagination, request.endpoint, search_params) }}
    </div>

    {% if current_user.is_authenticated and current_user.is_admin() %}
        <div class="text-center my-3">
            <a class="btn btn-lg btn-dark" href="{{ url_for('books.new') }}">Создать книгу</a>
        </div>
    {% endif %}

</div>
{% endblock %}