{% extends 'base.html' %} {% block content %}
<div
  class="title-area position-relative"
  style="background-image: url({{ book.bg_image.url }});"
>
  <div
    class="h-100 w-100 py-5 d-flex text-center position-absolute"
    style="background-color: rgba(0, 0, 0, 0.65)"
  >
    <div class="m-auto">
      <h1 class="title mb-3 font-weight-bold">{{ book.name }}</h1>
      <p class="mb-3 mx-auto">
        {% for genre in genres %} {{ genre }} <br> {% endfor%} <span>★</span>
        <span>{{ "%.2f" | format(book.rating) }}</span>
      </p>
    </div>
  </div>
</div>

<div class="container mt-5">
  <section class="about mb-5">
    <h2 class="mb-3 text-center text-uppercase font-weight-bold">
      Краткое описание книги
    </h2>
    <p >{{ book.short_desc | safe }}</p>
  </section>
<h2 class="mb-3 text-center text-uppercase font-weight-bold">
      Дата написания книги
    </h2>
    <p class="text-center">{{ book.year }}</p>
  </section>
  <h2 class="mb-3 text-center text-uppercase font-weight-bold">
      Издательство
    </h2>
    <p class="text-center">{{ book.publisher }}</p>
  </section>

  <section>
    <h2 class="mb-3 text-center text-uppercase font-weight-bold">
      Автор
    </h2>
    <p class="text-center">{{ book.author }}</p>
  </section>

  <section>
    <h2 class="mb-3 text-center text-uppercase font-weight-bold">
      Объём в страницах
    </h2>
    <p class="text-center">{{ book.volume }}</p>
  </section>

  <section class="program mb-5">
    <h2 class="mb-3 text-center text-uppercase font-weight-bold">Отзывы</h2>
    {% for review in reviews %}
    <div class="rewiew">
      <div class="rewiew1 text-cenert">
        <p>Автор: {{ review.user.full_name }}</p>
        <p>Дата отзыва: {{ review.created_at }}</p>
        <p>Оценка: {{ review.rating }}</p>
      </div>
      <p>{{ review.text | safe }}</p>
    </div>
    {% endfor %}
  </section>
  <div class="text-center my-3">
    <a
      class="btn btn-lg btn-dark"
      href="{{ url_for('books.show_reviews', book_id=book.id) }}"
      >Все отзывы</a
    >
  </div>
  {% if review_exist == False and current_user.is_authenticated %}
  <h2 class="mb-3 text-center text-uppercase font-weight-bold">
    Оставьте отзыв
  </h2>
  <form method="POST">
    <label for="grade">Выберете вашу оценку</label>
    <select
      class="form-select"
      aria-label="Default select example"
      name="grade"
      id="grade"
    >
      <option selected value="5">отлично</option>
      <option value="4">хорошо</option>
      <option value="3">удовлетворительно</option>
      <option value="2">неудовлетворительно</option>
      <option value="1">плохо</option>
      <option value="0">ужасно</option>
    </select>
    <textarea
      id="comment"
      name="comment"
      placeholder="Напишите отзыв"
      class="form-control"
      rows="5"
    ></textarea>
    <script>
const easyMDE = new EasyMDE({element: document.getElementById('comment')});
</script>
    <div class="mb-3 text-center">
      <input type="submit" class="btn btn-dark" value="Отправить" />
    </div>
  </form>
  {% elif review_exist == True and current_user.is_authenticated %}
  <h2 class="mb-3 text-center text-uppercase font-weight-bold">Ваш отзыв(ы)</h2>
  {% for review in review_cur_user %}
  <div class="rewiew">
    <div class="rewiew1">
      <p>Автор: {{ review.user.full_name }}</p>
      <p>Дата отзыва: {{ review.created_at }}</p>
      <p>Оценка: {{ review.rating }}</p>
    </div>
    <p>{{ review.text | safe }}</p>
  </div>
  {% endfor %} {% else %} {% endif %}
</div>

{% endblock %}